<div id="main">
	<h1><img src='images/flickr_logo.gif' />(nearby)</h1>
	<div id="disclaimer" class="palm-body-text">This is a quick hack to enable "nearby" functionality on Flickr Mobile.  Hey Palm, support the W3C Geolocation API natively in the webkit browser and we won't need this application. :-)</div>
	<div x-mojo-element="Spinner" id='gpsSpinner' name='gpsSpinner'></div>
    <div id="statuszzz" class="palm-body-text">Determining location...</div>

    <div id="goButton" class="flickr_button" name="goButton1" x-mojo-element="Button"></div>
	<div id="mapWeb" x-mojo-element="WebView"></div>
</div>